// Change your color you want --- please input rgb color (ex: 22,33,44)

// THEME PALETTE 9 ==========================================
:root {
  /* PRIMARY COLORS */
  --primary-easytolive: 103, 34, 255;
  --primary-easytolive-light: 113, 37, 255;
  --primary-easytolive-lighter: 164, 122, 255;
  --primary-easytolive-dark: 71, 0, 196;

  /* SECONDARY COLORS */
  --secondary-easytolive: 218, 229, 0;
  --secondary-easytolive-light: 214, 235, 3;
  --secondary-easytolive-lighter: 239, 255, 153;
  --secondary-easytolive-dark: 196, 206, 0;

  /* NEUTRAL COLORS */
  --neutral-50: 249, 250, 251;
  --neutral-100: 243, 244, 246;
  --neutral-200: 229, 231, 235;
  --neutral-300: 209, 213, 219;
  --neutral-400: 156, 163, 175;
  --neutral-500: 107, 114, 128;
  --neutral-600: 75, 85, 99;
  --neutral-700: 55, 65, 81;
  --neutral-800: 31, 41, 55;
  --neutral-900: 17, 24, 39;

  /* GENERIC COLORS */
  --generic-dark: 75, 75, 75;
  --generic-easytolive-blue: 71, 29, 184;
  --generic-easytolive-green: 145, 176, 82;
  --generic-easytolive-green-light: 151, 183, 65;
  --generic-easytolive-green-lighter: 182, 206, 92;
  --generic-easytolive-red: 190, 29, 37;
  --generic-easytolive-yellow: 255, 186, 0;
  --generic-easytolive-bg: 247, 249, 253;
  --generic-easytolive-bg-lighter: 239, 237, 253;
  --generic-bg-gray-lighter: 197, 197, 197;
  --generic-bg-gray: 229, 231, 233;
  --generic-bg-gray-darker: 209, 213, 219;
  --generic-light-blue: 173, 216, 230;
  --generic-light-green: 144, 238, 144;
  --generic-gold: 255, 215, 0;
}



